{{!-- <input type="text" id="searchOneInput" onkeyup="nameOneSearchFunction()" placeholder="Search by team 1 name...">
<input type="text" id="searchTwoInput" onkeyup="nameTwoSearchFunction()" placeholder="Search by team 2 name..."> --}}
{{!-- <input type="text" id="searchThreeInput" onkeyup="locationSearchFunction()" placeholder="Search by location...">
<input type="text" id="searchFourInput" onkeyup="dateSearchFunction()" placeholder="Search by date (MM/DD/YYYY)..."> --}}

<hr/>
Test Table
<table id="gamesTable" class="table table-bordered table-hover"> 
    <thead> 
        <th>Username</th><th>Password</th>
    </thead> 
    <tbody> 
        {{#each legends}} 
            <tr> 
                <td> 
                    {{this/Username}}
                </td> 
                <td>
                    {{this/Password}}
                </td>           
            </tr> 
        {{/each}} 
    </tbody> 
</table> 

<h4> 
    Enter in information: 
</h4> 
 
<form id="newGameForm"> 
    <div class="form-group"> 
        <label for="team1Name">Username</label> 
        <input type="text" class="form-control" name="team1Name" id="team1Nameform"> 
    </div>
    <div class="form-group"> 
        <label for="team1Score">Password</label> 
        <input type="text" class="form-control" name="team1Score" id="team1Scoreform"> 
    </div>
    <hr/>
    <button id="submitButton" class="btn btn-primary">Submit</button> 
</form> 
 
<script> 
    document.addEventListener("DOMContentLoaded", (event) => { 
        //alert("The page has been loaded."); 
    }); 
 
    document.getElementById("submitButton").addEventListener("click", async (e) => { 
        e.preventDefault(); 
        console.log("Submit button pressed");
        const team1Nametest = document.getElementById("team1Nameform").value; 
            const team1Scoretest = document.getElementById("team1Scoreform").value;
            console.log(team1Nametest + team1Scoretest);
        try { 
            const team1Name = document.getElementById("team1Nameform").value; 
            const team1Score = document.getElementById("team1Scoreform").value;
            console.log(team1Name + team1Score);
 
            const userData = { 
                team1Name: team1Name,
                team1Score: team1Score,
            }; 
 
            const fetchConfigData = { 
                method: "POST", 
                body: JSON.stringify(userData),  
                headers: { 
                    "Content-Type": "application/json" 
                } 
            }; 
 
            const response = await fetch("/", fetchConfigData); 
         
            if(response.ok) { 
                const games = await response.json(); 
                loadTableWithGames(games); 
            } else { 
                console.log("Error with the response data"); 
            } 
 
        } catch (err) { 
            console.log(`Error: ${err}`); 
        } 
    }); 
 
    function loadTableWithGames(games) { 
        const table = document.getElementById("gamesTable"); 
        const tableBody = table.children[1]; 
 
        tableBody.innerHTML = ""; 
 
        games.forEach(game => { 
            const tr = document.createElement("tr");
            const team1NameTd = document.createElement("td"); 
            team1NameTd.innerHTML = `${game["Team1Name"]}`; 
            const team1ScoreTd = document.createElement("td"); 
            team1ScoreTd.innerHTML = `${game["Team1Score"]}`;
            tr.appendChild(team1NameTd); 
            tr.appendChild(team1ScoreTd);
            tableBody.appendChild(tr); 
        }); 
    }

function nameOneSearchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchOneInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("gamesTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
} 

function nameTwoSearchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchTwoInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("gamesTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function locationSearchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchThreeInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("gamesTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[5];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function dateSearchFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchFourInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("gamesTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[4];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>